body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px 100px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form div {
    display: flex;
    justify-content: space-between;
}

form label {
    flex: 1;
}

form input {
    flex: 2;
    padding: 10px
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.task-list-container {
    margin-top: 20px;
}

.task-card {
    position: relative;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-card.completed {
    text-decoration: line-through;
    color: #888;
}

.task-card input[type="checkbox"] {
    margin-right: 10px;
}

.burger-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.burger-menu div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

.menu-options {
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.menu-options a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.menu-options a:hover {
    background-color: #f4f4f4;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}